#menu {
    text-align: center;
    background-image: url(./Assets/landing.jpg);
    padding-top: 100px;
    padding-bottom:150px;
    font-size: xx-large;
    color: white;
}
nav {
    display:flex;
    justify-content: space-between;
    list-style: none;
}
#happyhour {
    border: 1px solid black;
    margin: 0px 5px 0px 5px ;
    padding: 50px;
    background-color:lightgrey;
}
#partytime {
    padding: 50px;
    border:ipx solid;
    background-color: tomato;
}
#brekfast {
    background-image: url('./Assets/breakfast.jpg');
    padding: 70px;
    color: white;
    
}
#lunch {
background-image: url('./Assets/lunch.jpg');
color: white;
padding: 70px;
background-color:lightgrey;
opacity: 0.5;
}
#dinner {
    background-image: url('./Assets/dinner.jpg');
    color: white;
    padding: 70px;

}
