
#foodtype {
    background-color: white;

}

#itemslist {
    display: flex;
    justify-content: space-between;
}
#tablemenu {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: gray;
}
a{
    text-decoration: none;
    color :black;
    display:block;
    text-align:center;
    padding: 15px 20px;

}
a:hover {
    color: tomato;
    padding-top: ;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
}