
#foodtype {
    background-color: white;

}

#itemslist {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    color: #f15A29;
}
#tablemenu {
    display: flex;
    justify-content: space-between;
    background-color: lightslategrey;
}
a {
    text-decoration: none;
    color :black;
    display:block;
    text-align:center;
    padding: 15px 20px;

}
a:hover {
    color: tomato;
    justify-content: space-between;
    display: flex;
    background-color: white;
    width:30px;
}
#customers {
    border: 15px gray;
    border-radius: 2px;
    box-shadow: 0px 0px 6px gray;
    box-sizing: border-box;
    margin-left:200px ;
    padding: 50px;
    width: 50%;
    display: flex;
}
#customerspics {
    margin-left: 180px;
}
#subscribe {
    background-image:url('./Assets/subscribe.jpg');
    height: 40px;
    color: white;
    padding: 200px;
}
#summary {
    background-color: #f15A29;
    text-align: center;
    padding:30px;
}
#customerspics {
    display: flex;
    justify-content: start;
    margin-left: 20px;
}
#email {
    background-color:white;
    opacity: 0.5;
    width: 30%;
    height: 30%;
    color: black;
}
#p {
    background-color: tomato;
    width: 100%;
    color: white;
    padding: 10px;
}
#combine {
    display: flex;
    justify-content: space-between;
}
p {
    font-size: small;
    font-family: sans-serif;
    color: darkblue;
}


